.App {
  background-color: #261C2C;
  color: white;
  min-height: 700px;
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  background-color: #3E2C41 !important;
  height: 350px;
  /* width: 18rem; */
}
.card .card-img-top{
  height: 200px;
}
.card  .list{
  display: flex;
  justify-content: space-between;
}
.card .btn{
  background-color: #261C2C;
  color: white;
  font-weight: bold;
  border: none;
}
.card .btn:hover{
  color: white;
  background-color: #261C2C;
}
.card i{
  font-size: 18px;
}
.card .fa-star{
  margin-right: 5px;
  color: #FFE459;
}
.card .fa-eye{
color: #6E85B2;
}



/* start pop */
.modal-title{
  color: #5C527F;
}
.modal-body{
  color: #5C527F;
}
.modal-body img{
  width: 100%;
}
.modal-body h5{
  font-size: 18px;
}



/* serch */
.input-group .search{
  background-color: #3E2C41;
  color: white !important;
  border: none;
}
.input-group .search:focus{
border: none !important;
background-color: #3E2C41;
}
.btn-outline-secondary{
  background-color: #3E2C41 !important;
  color: #6E85B2 !important;
  border: none;
}